#page-wrapper {
    padding-top: 20px;
}
.filters .filter-item {
    margin-bottom: 12px;
}
.filters .filter-item .filter-selected {
    font-weight: bold;
}
.filters .filter-item .filter-option {
    margin-left: 8px;
}

.navbar-static-top {
    border-bottom: 1px solid #e8e8e8;
}