<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#storages">Склады</a></li>
    <li class="active">{{storage.name}}</li>
</ol>


<div data-ng-init="init()">
    <h1>{{storage.name}} #{{storage.id}}</h1>

    <div data-ng-controller="deviceSearchController">
        <ul>
            <li data-ng-repeat="device in devices">
                {{device.name}}
            </li>
        </ul>
    </div>

</div>