<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li class="active">Товары</li>
</ol>


<div data-ng-init="search()">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Товар</th>
            <th>Склад</th>
            <th>Метка</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="tag in tags" data-ng-show="!tag.isDeleted">
            <td data-ng-click="show(tag)">{{tag.id}}</td>
            <td data-ng-if="tag.productInfo" data-ng-click="show(tag)">
                {{tag.productInfo.category.name}}
            </td>
            <td data-ng-click="show(tag)">
                {{tag.storageName}}
            </td>
            <td data-ng-click="show(tag)">{{tag.rfId}}</td>
        </tr>
        </tbody>
    </table>
</div>