<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#tags">Товары</a></li>
    <li class="active">{{tag.id}}</li>
</ol>


<div data-ng-init="init()">
    <h4>{{tag.productInfo.category.name}} #{{tag.id}}</h4>
    <div class="label label-default">
        {{tag.rfId}}
    </div>

    <div data-ng-if="tag.storageId > 0">
        Склад: <a href="#storage/{{tag.storageId}}">{{tag.storageName}}</a><br/>
        <a class="btn btn-default" href="javascript: void 0;" data-ng-click="storageOut()">Вывести со склада</a>
    </div>
    <div data-ng-show="tag.storageId == 0">
        <label>
            Отправить на склад
            <select data-ng-options="id as storage.name for (id, storage) in company.storages.storages" data-ng-model="inStorageId" class="form-control">
                <option value="">-</option>
            </select>
        </label>

        <a href="javascript: void 0;" data-ng-click="storageIn()">отправить</a>
    </div>

    <div data-ng-controller="tagTransferSearchController" data-ng-init="search()">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Движение</th>
                <th>Когда</th>
                <th>Кто</th>
                <th>Терминал</th>
            </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="tagTransfer in tagTransfers">
                    <td data-ng-click="show(tagTransfer)">
                        <span data-ng-if="tagTransfer.transferDirectionType == 1">
                            Приход на склад {{tagTransfer.transferStorageName}}
                        </span>
                        <span data-ng-if="tagTransfer.transferDirectionType == 2">
                            Уход со склада {{tagTransfer.transferStorageName}}
                        </span>
                    </td>
                    <td data-ng-click="show(tagTransfer)">{{tagTransfer.transferWhen}}</td>
                    <td data-ng-click="show(tagTransfer)">{{tagTransfer.transferUsername}}</td>
                    <td data-ng-click="show(tagTransfer)">{{tagTransfer.transferDeviceName}} {{tagTransfer.transferDeviceImei}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>