<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li class="active">Пользователи</li>
</ol>


<div data-ng-init="search()">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users" data-ng-show="!user.isDeleted">
            <td data-ng-click="show(user)">{{user.id}}</td>
            <td data-ng-click="show(user)">{{user.name}}</td>
        </tr>
        </tbody>
    </table>
</div>