<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#users">Пользователи</a></li>
    <li class="active">{{user.name}}</li>
</ol>


<div data-ng-init="init()">
    <h1>{{user.name}} #{{user.id}}</h1>
</div>