<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li class="active">Инвентаризация</li>
</ol>


<div data-ng-init="search()" class="well well-lg">
    <table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>
                Склад
            </th>
            <th>
                Статус
            </th>
            <th>
                Не найдено меток
            </th>
            <th>
                Совпадения
            </th>
            <th>
                Конфликты
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата конца
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="inventory in inventories" data-ng-show="!inventory.isDeleted">
            <td data-ng-click="show(inventory)">{{inventory.id}}</td>
            <td data-ng-click="show(inventory)">{{inventory.storageName}}</td>
            <td data-ng-click="show(inventory)">
                <!--
                TODO: переделать на angular-директиву
                public enum InventoryStatus {
                    CREATED(0),
                    ACTIVE(1),
                    FINISHED(2),
                    CANCELLED(3),
                    DELETED(4);
                }-->
                <span data-ng-if="inventory.status == 0">Создана</span>
                <span data-ng-if="inventory.status == 1">Активная</span>
                <span data-ng-if="inventory.status == 2">Закончена</span>
                <span data-ng-if="inventory.status == 3">Отменена</span>
                <span data-ng-if="inventory.status == 4">Удалена</span>
            </td>
            <td data-ng-click="show(inventory)">{{inventory.countNotFound}}</td>
            <td data-ng-click="show(inventory)">{{inventory.countMatch}}</td>
            <td data-ng-click="show(inventory)">{{inventory.countCategoryConflict}}</td>
            <td data-ng-click="show(inventory)">{{inventory.startDate | date: 'fullDate'}}</td>
            <td data-ng-click="show(inventory)">
                <span data-ng-if="inventory.finishDate > 0">
                    {{inventory.finishDate | date: 'fullDate'}}
                </span>
            </td>
            <td>
                <button class="btn btn-warning" data-ng-if="inventory.status <= 1" style="margin-right: 10px;" data-ng-click="cancel(inventory)">
                    Отменить
                </button>
                <button class="btn btn-success" data-ng-if="inventory.status == 1" data-ng-click="finish(inventory)">
                    Закончить
                </button>
                <button class="btn btn-info" data-ng-if="inventory.status == 2" data-ng-click="show(inventory)">
                    Отчёт
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>