<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#inventories">Инвентаризация</a></li>
    <li class="active">{{inventory.id}}</li>
</ol>


<div data-ng-init="init()">
    <h1>Инвентаризация #{{inventory.id}}, {{inventory.startDate | date: 'fullDate'}}</h1>
    <div class="well well-lg">
        <div class="list-group">
            <a href="#inventoryItem/{{inventoryItem.id}}" class="list-group-item" data-ng-repeat="inventoryItem in inventory.inventoryItemInfoList.inventoryItems">

                <!--
                TODO: переделать на angular-директиву
                public enum InventoryItemStatus {
                    NOT_FOUND(1),
                    FOUND(2),
                    CATEGORY_CONFLICT(3);
                }-->
                <span class="text-muted">
                    {{inventoryItem.tagRfId}}<br/>
                </span>
                <span class="badge">
                    <span data-ng-if="inventoryItem.status == 1">Не найдено</span>
                    <span data-ng-if="inventoryItem.status == 2">Найдено</span>
                    <span data-ng-if="inventoryItem.status == 3">Конфликт</span>
                </span>
                {{inventoryItem.expectedProductCategory.name}}

            </a>
        </div>
    </div>
</div>