<!DOCTYPE html>
<html lang="ru" data-ng-app="warehouseOnline">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="ru"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{title}}
    </title>

    <link href="/css/sb-admin/bootstrap.min.css" rel="stylesheet"><!-- Bootstrap Core CSS -->
    <link href="/js/lib/sb-admin/metisMenu/metisMenu.min.css" rel="stylesheet"><!-- MetisMenu CSS -->
    <link href="/css/sb-admin/timeline.css" rel="stylesheet"><!-- Timeline CSS -->
    <link href="/css/sb-admin/sb-admin-2.css" rel="stylesheet"><!-- Custom CSS -->
    <link href="/js/lib/sb-admin/morrisjs/morris.css" rel="stylesheet"><!-- Morris Charts CSS -->
    <link href="/css/sb-admin/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- Custom Fonts -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css"><!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper" data-ng-controller="rootController" data-ng-cloak>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="pull-left navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#admin">Управление складом. <span data-ng-show="company">Компания {{company.name}}</span></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="hidden-xs hidden-sm navbar-btn" data-ng-show="authorized" data-ng-click="showSidebar = !showSidebar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </li>
                <li class="dropdown" data-ng-if="authorized">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void 0;">
                        <i class="fa fa-user fa-fw"></i> {{user.name}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#user/{{user.id}}"><i class="fa fa-user fa-fw"></i> Профиль</a>
                        </li>
                        <li><a href="#user/{{user.id}}"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#logout"><i class="fa fa-sign-outf fa-fw"></i> Выйти</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation" data-ng-show="showSidebar">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="javascript: void 0;"><i class="fa fa-home fa-fw"></i> <b>Склады</b><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#storages">Показать все</a>
                                </li>
                                <li data-ng-repeat="storage in company.storages.storages" data-ng-show="$index<5">
                                    <a href="#storage/{{storage.id}}">{{storage.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void 0;"><i class="fa fa-mobile-phone fa-fw"></i> <b>Терминалы</b><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#devices">Показать все</a>
                                </li>
                                <li data-ng-repeat="device in company.devices.devices" data-ng-show="$index<5">
                                    <a href="#device/{{device.id}}">{{device.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void 0;"><i class="fa fa-users fa-fw"></i> <b>Пользователи</b><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" data-ng-cloak>
                                <li>
                                    <a href="#users">Показать все</a>
                                </li>
                                <li data-ng-repeat="user in company.users.users" data-ng-show="$index<5">
                                    <a href="#user/{{user.id}}">{{user.name}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#tags"><i class="fa fa-cubes fa-fw"></i> <b>Товары</b></a>
                        </li>
                        <li>
                            <a href="#transfers"><i class="fa fa-exchange fa-fw"></i> <b>Движения</b></a>
                        </li>
                        <li>
                            <a href="#inventories"><i class="fa fa-list-ol fa-fw"></i> <b>Инвентаризация</b></a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>



        <div id="page-wrapper">
            <div data-ng-view></div>
        </div>
    </div>
    <!-- /#wrapper -->


    <script src="/js/lib/jquery-2.1.4.min.js"></script><!-- jQuery -->
    <script src="/js/lib/bootstrap.min.js"></script><!-- Bootstrap Core JavaScript -->

    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.min.js"></script>
    <script src="/js/lib/ngStorage.min.js"></script>

    <script src="/js/app/app.js"></script>
    <script src="/js/app/session.js"></script>
    <script src="/js/app/config.js"></script>
    <script src="/js/app/warehouseApi.js"></script>

    <script src="/js/online/user/UserService.js"></script>

    <script src="/js/user/AuthService.js"></script>
    <script src="/js/user/LoginController.js"></script>
    <script src="/js/user/LogoutController.js"></script>

    <script src="/js/online/RootController.js"></script>
    <script src="/js/online/AdminController.js"></script>
    <script src="/js/online/company/CompanyService.js"></script>

    <script src="/js/online/tag/TagService.js"></script>
    <script src="/js/online/tag/TagViewController.js"></script>
    <script src="/js/online/tag/TagSearchController.js"></script>

    <script src="/js/online/transfer/TransferService.js"></script>
    <script src="/js/online/transfer/TagTransferSearchController.js"></script>
    <script src="/js/online/transfer/TransferSearchController.js"></script>
    <script src="/js/online/transfer/TransferViewController.js"></script>

    <script src="/js/online/storage/StorageService.js"></script>
    <script src="/js/online/storage/StorageSearchController.js"></script>
    <script src="/js/online/storage/StorageViewController.js"></script>

    <script src="/js/online/device/DeviceService.js"></script>
    <script src="/js/online/device/DeviceSearchController.js"></script>
    <script src="/js/online/device/DeviceViewController.js"></script>

    <script src="/js/online/inventory/InventoryService.js"></script>
    <script src="/js/online/inventory/InventorySearchController.js"></script>
    <script src="/js/online/inventory/InventoryViewController.js"></script>

    <script src="/js/online/user/UserSearchController.js"></script>
    <script src="/js/online/user/UserViewController.js"></script>

    <script src="/js/lib/sb-admin/metisMenu/metisMenu.min.js"></script><!-- Metis Menu Plugin JavaScript -->
    <script src="/js/lib/sb-admin/sb-admin-2.js"></script><!-- Custom Theme JavaScript -->




</body>

</html>
