<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li class="active">Движения</li>
</ol>


<div class="row filters">
    <div class="col-md-2">
        <div class="well well-lg">
            <p style="font-size: 14px;">
                Поиск<span data-ng-show="loading">...</span>
            </p>
            <div class="row filter-item">
                <div class="col-md-12">
                    <a href="javascript: void 0;" data-ng-click="showStorageFilter = !showStorageFilter">
                        по складу
                    </a>
                    <div data-ng-show="showStorageFilter">
                    <span data-ng-repeat="storage in company.storages.storages" class="filter-option">
                        <a href="javascript: void 0;" data-ng-click="applyFilter('storageId', storage.id)" data-ng-class="{'filter-selected' : storage.id == searchRequest.storageId}">
                            - {{storage.name}}
                        </a>
                        <br/>
                    </span>
                        <a href="javascript: void 0;" data-ng-click="applyFilter('storageId', 0)" data-ng-show="searchRequest.storageId > 0" class="filter-option">
                            <small>не фильтровать</small>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row filter-item">
                <div class="col-md-12">

                    <a href="javascript: void 0;" data-ng-click="showDeviceFilter = !showDeviceFilter">
                        по терминалу
                    </a>
                    <div data-ng-show="showDeviceFilter">
                    <span data-ng-repeat="device in company.devices.devices" class="filter-option">
                        <a href="javascript: void 0;" data-ng-click="applyFilter('deviceId', device.id)" data-ng-class="{'filter-selected' : device.id == searchRequest.deviceId}">
                            - {{device.name}}
                        </a>
                        <br/>
                    </span>
                        <a href="javascript: void 0;" data-ng-click="applyFilter('deviceId', 0)" data-ng-show="searchRequest.deviceId > 0" class="filter-option">
                            <small>не фильтровать по терминалам</small>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row filter-item">
                <div class="col-md-12">
                    <a href="javascript: void 0;" data-ng-click="showUserFilter = !showUserFilter">
                        по пользователю
                    </a>
                    <div data-ng-show="showUserFilter">
                    <span data-ng-repeat="user in company.users.users" class="filter-option">
                        <a href="javascript: void 0;" data-ng-click="applyFilter('userId', user.id)" data-ng-class="{'filter-selected' : user.id == searchRequest.userId}">
                            - {{user.name}}
                        </a>
                        <br/>
                    </span>
                        <a href="javascript: void 0;" data-ng-click="applyFilter('userId', 0)" data-ng-show="searchRequest.userId > 0" class="filter-option">
                            <small>не фильтровать</small>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row filter-item">
                <div class="col-md-12">
                    <a href="javascript: void 0;" data-ng-click="showDirectionFilter = !showDirectionFilter">
                        по направлению
                    </a>
                    <div data-ng-show="showDirectionFilter">
                        <a href="javascript: void 0;" data-ng-click="applyFilter('directionType', 1)" data-ng-class="{'filter-selected' : searchRequest.directionType == 1}" class="filter-option">
                            - Только приходы
                        </a><br/>
                        <a href="javascript: void 0;" data-ng-click="applyFilter('directionType', 2)" data-ng-class="{'filter-selected' : searchRequest.directionType == 2}" class="filter-option">
                            - Только уходы
                        </a><br/>
                        <a href="javascript: void 0;" data-ng-click="applyFilter('directionType', 0)" data-ng-show="searchRequest.directionType > 0" class="filter-option">
                            <small>не фильтровать</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 filters">
        <nav data-ng-show="pagination.total > transfers.length">
            <ul class="pagination">
                <li data-ng-class="{disabled: !hasPrev()}">
                    <a href="javascript: void 0;" data-ng-click="prev()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li data-ng-if="hasPrev()">
                    <a href="javascript: void 0;" data-ng-click="prev()">{{searchRequest.page-1}}</a>
                </li>
                <li class="active">
                    <a href="javascript: void 0;">{{searchRequest.page}}</a>
                </li>
                <li data-ng-if="hasNext()">
                    <a href="javascript: void 0;" data-ng-click="next()">{{searchRequest.page+1}}</a>
                </li>
                <li data-ng-class="{disabled: !hasNext()}">
                    <a href="javascript: void 0;" data-ng-click="next()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div data-ng-init="search()" class="well well-sm">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Движение</th>
                    <th>
                        <span data-ng-click="toggleOrder('when');">
                            Когда
                        </span>
                        <span data-ng-show="sorting.property == 'when'">
                            <span class="glyphicon glyphicon-triangle-top" data-ng-show="sorting.asc"></span>
                            <span class="glyphicon glyphicon-triangle-bottom" data-ng-show="!sorting.asc"></span>
                        </span>
                    </th>
                    <th>
                        <span data-ng-click="toggleOrder('user');">
                            Инициатор
                        </span>
                        <span data-ng-show="sorting.property == 'user'">
                            <span class="glyphicon glyphicon-triangle-top" data-ng-show="sorting.asc"></span>
                            <span class="glyphicon glyphicon-triangle-bottom" data-ng-show="!sorting.asc"></span>
                        </span>
                    </th>
                    <th>
                        <span data-ng-click="toggleOrder('device');">
                            Терминал
                        </span>
                        <span data-ng-show="sorting.property == 'device'">
                            <span class="glyphicon glyphicon-triangle-top" data-ng-show="sorting.asc"></span>
                            <span class="glyphicon glyphicon-triangle-bottom" data-ng-show="!sorting.asc"></span>
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="loading">
                        <td colspan="4">
                            <span class="glyphicon glyphicon-hourglass"></span>
                        </td>
                    </tr>
                    <tr data-ng-repeat="transfer in transfers | orderBy: (sorting.asc ? '' : '-') + sortingPropertyToObjectKeyMap[sorting.property]" data-ng-show="!loading && !transfer.isDeleted" data-ng-class="transfer-{{transfer.id}}">
                        <td data-ng-click="show(transfer)">
                            <!--public enum TransferDirection {IN(1),OUT(2);}-->
                            <span data-ng-if="transfer.directionType == 1" class="glyphicon glyphicon-arrow-down text-success" title="Приход на склад"></span>
                            <span data-ng-if="transfer.directionType == 2" class="glyphicon glyphicon-arrow-up text-warning" title="Уход со склада"></span>

                            {{transfer.storageName}}:<br/>
                            <span data-ng-if="transfer.tagInfoList.size <= 3" data-ng-repeat="tag in transfer.tagInfoList.tags">
                                {{tag.productCategoryName}}<br/>
                            </span>
                            <span data-ng-if="transfer.tagInfoList.size > 3">
                                Товаров: {{transfer.tagInfoList.size}}
                            </span>

                        </td>
                        <td data-ng-click="show(transfer)">
                            {{transfer.when | date: 'medium'}}
                        </td>
                        <td data-ng-click="show(transfer)">{{transfer.username}}</td>
                        <td data-ng-click="show(transfer)">{{transfer.deviceName}}</td>
                    </tr>
                    <tr data-ng-show="!loading && transfers.length == 0">
                        <td colspan="4">
                            Не найдено движений
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>