<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#transfers">Движения</a></li>
    <li class="active">{{transfer.id}}</li>
</ol>


<div data-ng-init="init()">
    <h1>{{transfer ? (transfer.directionType == 1 ? 'Приход на склад ' + transfer.storageName : 'Уход со склада ' + transfer.storageName) : '...'}}</h1>
    <div class="well well-lg">
        {{transfer.when | date: 'fullDate'}}<br/>
        <span data-ng-show="transfer.username">
            Пользователь: <a href="#user/{{transfer.userId}}">{{transfer.username}}</a>
            <br/>
        </span>
        <span data-ng-show="transfer.deviceId">
            Терминал: <a href="#device/{{transfer.deviceId}}">{{transfer.deviceName}} {{transfer.deviceImei}}</a>
            <br/>
        </span>

        <br/>
        <div class="list-group">
            <a href="#tag/{{tag.id}}" class="list-group-item" data-ng-repeat="tag in transfer.tagInfoList.tags">
                <span class="badge">{{tag.rfId}}</span>
                &nbsp;&nbsp;
                {{tag.productCategoryName}}
            </a>
        </div>
    </вшм>
</div>