<ol class="breadcrumb">
    <li class="active">{{company.name}}</li>
</ol>


<div class="row" data-ng-init="init()">
    <div class="col-md-12">
        <h3>{{company.name}}</h3>
        Тэгов: <a href="#tags">{{companyStats.tagsCount}}</a><br/>
        Проведено инвентаризаций: <a href="#inventories">{{companyStats.inventoriesCount}}</a><br/>
        Приходов/уходов: <a href="#transfers">{{companyStats.transfersCount}}</a><br/>
    </div>
</div>