    <div class="row">
        <div class="col-md-offset-4 text-center col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Вход в online-кабинет</h4>
                </div>
                <div class="panel-body">
                    <form name="loginForm" data-ng-submit="onSubmit()">
                        <div class="form-group" data-ng-class="{'has-warning': error}">
                            <label>
                                <input placeholder="Имя" type="text" name="username" data-ng-model="username" class="form-control" autofocus="autofocus"/>
                            </label>
                        </div>
                        <div class="form-group" data-ng-class="{'has-warning': error}">
                            <label>
                                <input placeholder="Пароль" type="password" name="password" data-ng-model="password" class="form-control"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-info" type="submit">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>