<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li class="active">Терминалы</li>
</ol>


<div data-ng-init="search()">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="device in devices" data-ng-show="!device.isDeleted">
            <td data-ng-click="show(device)">{{device.id}}</td>
            <td data-ng-click="show(device)">{{device.name}}</td>
        </tr>
        </tbody>
    </table>
</div>