<ol class="breadcrumb">
    <li><a href="#admin">{{company.name}}</a></li>
    <li><a href="#devices">Терминалы</a></li>
    <li class="active">{{device.name}}</li>
</ol>


<div data-ng-init="init()">
    <h1>{{device.name}} #{{device.id}}</h1>
    <p>
        Imei-код: {{device.imeiCode}}<br/>
        <span data-ng-if="device.storageId > 0">
            Склад: <a href="#storage/{{device.storageId}}">{{device.storageName}}</a>
            <br/>
        </span>
        Время создания: {{device.createTime}}<br/>
        Время последнего входа: {{device.lastLoginTime}}<br/>
    </p>
</div>